h1 {
	color: red;
}
.btn-secondary{
     background-color: #363636;
}
.form-row {
	margin-top: 10%;
	margin-bottom: 10%;
	width: 1200px;
	height: 500px;
	padding-top: 10%;
	padding-bottom: 10%;
	background: url('../imagens/home imagem_4.jpg') no-repeat;
}
#centro {
	
}