h1 {
	color: white;
	text-align: center;
	padding-top: 6%;
	margin-bottom: -10%;
	font-size: 40pt;
}
h2 {
	color: white;
	text-align: center;
	margin-top: 11%;
	margin-bottom: -11%;
	font-size: 18pt;
}
.btn-secondary{
     background-color: #363636;
     height: 48px;
     margin-top: 10px;
}
#form_row_index {
	padding-top: 5%;
	padding-bottom: 15%; 
}
#inlineFormInput {
	margin-top: 10px;
}
#centro {
	background-image: url('../imagens/home imagem_4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#imgUser {
  	border-radius: 50%;
  	cursor: pointer;
}
